[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-storages = {extras = ["azure"], version = "*"}
psycopg2-binary = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
