/*************************************************************************
 * GitHub: https://github.com/yenchiah/project-website-template
 * Version: v3.29
 * This CSS file has control elements that do not require JavaScript
 * If you want to keep this template updated, avoid modifying this file
 * Instead, add your own CSS in the index.css
 *************************************************************************/

.custom-image-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-button-flat {
    width: 40px;
    height: 33px;
    border: 1px solid #F17a7e;
    background: #F17a7e;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.custom-button-flat.large {
    font-size: 18px;
    line-height: 18px;
    padding: 17px;
    border-radius: 56px;
}

.custom-button-flat.small {
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    border-radius: 42px;
}

.custom-button-flat:disabled {
    opacity: 0.4;
    cursor: default;
}

.custom-button-flat img {
    width: 20px;
    height: 20px;
}

.custom-button-flat.small img {
    width: 16px;
    height: 16px;
}

.custom-button-flat.large img {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 500px) {
    .stretch-on-mobile {
        margin-left: 0 !important;
        margin-right: 0 !important;
        flex: 1 0 100%;
        max-width: 100%;
    }
}